/*Parte igual en las tres páginas*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header img{
    
    border: 4px solid #58D5D3;
    border-radius:10px ;
}

.menu {
   display: flex;
    width: 100%;
    background-image: url("../images/pulp-title.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    gap: 0; 
    background-color: rgba(0,0,0,0.4); 
    background-blend-mode: darken;
    
}

.nav {
    display: flex;
    width: 100%;
}

.btn {
    flex: 1;
    background: none; 
    border: none;      
    border-radius: 0;  
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
    
}

.btn:hover {
    border: 2px solid #58D5D3;
    color: #58D5D3;
    border-radius:10px ;
    background-color: rgba(0, 0, 0, 0.3);
}

.actualPage{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/*Fin de la parte repetida*/
/*-------*/
/*-------*/
/*-------*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 2rem;
}

.infoContainer{
    margin-top: 100px;
    display: grid;
    width: 70%;
    grid-template-columns: 40% 40%;
    grid-template-rows: 80px 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 1.5rem;

}

.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px solid black;
    border-radius: 8px;
}

.dataTitles{
    border-bottom: 2px solid black;
    background-color: #58D5D3;
    color: azure;
    
}


.favFilmsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.containerCards{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.filmContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}
.filmTitle{
    text-align: center;
    padding: 5px;
}

.imageContainer{
    height: 300px;
    width: 220px;
    overflow: hidden;
}

.filmImg{
    width: 100%;      
    height: 100%;
    object-fit: cover;
}

