*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows:1fr auto; 
    grid-template-columns: 1fr;
     overflow-x: hidden;
     overflow-y: scroll;
     padding: 0 auto;
     font-family: 'Lexend', sans-serif;
}



/* Estilos de menú*/

.header{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu{
    width: 100%;
    margin-right: 0px;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
}

.btnMenuDefault{
    color:#3c291c;
    font-size: 2rem;
    width: 7em;
    border: 0px;
    flex-shrink: 1;
    font-family: inherit;
}

.btnMenu{
    background-color: transparent;
    margin-bottom: 25px;
    font-family: inherit;
}

.btnMenu:hover{
    background-color: #3c291c;
    color: white;
    border-radius: 10px;
    font-family: inherit;
}

/*Estilos de cada producto*/

.mainContainer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    box-sizing: border-box;
    min-height: 100%;
}

.element{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coffees{
    width: 100%;
    max-width: 400px;
    height: 400px;
    color: #3c291c;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    font-family: inherit;
}

.coffeeBtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.btnDown{
    font-size: 1.3rem;
    width: 180px;
    border: 0px;
    background-color: #CB7846;
    color: white;
    border-radius: 10px;
    font-family: inherit;
}



.coffeeImg{
    width: 100%;
    max-width: 270px;
    height: 270px;
    border-radius: 20px;
}


/** Cesta de compra */
.myList{
    display:none;
    grid-template-rows: auto auto;    
    align-items: start;
    justify-items: center;            
    align-self: start;                
    background-color: #d1ab93;
    text-align: center;
    border: 1px solid #d1ab93;
    border-radius: 20px;
    padding: 10px;
}

.myList.show {
    display: grid;
}
.myList h2{
    font-size: 2rem;
}

.list{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 10px;
}

.nameTotal{
    font-size: 1.5rem;
}



.listBtn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #CB7846;
    color: white;
    font-family: inherit;
    border: 0px;
}


/**Footer*/

.footer{
    background-color: #E1D4C6;
    height: 100px;
    text-align: center;
    line-height: 100px;
}



.btnDown:hover, .listBtn:hover{
    background-color: #ff6200;
    color: white;
    
}