.dashboard{
    display:flex;
    flex-direction: row;
}

.sidebar{
    background-color: rgb(255, 255, 169);
    width: 200px;
    height: 400px;
    font-size: 2rem;
    text-align: center;
    line-height:400px ;
}

.main{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    font-size: 2rem;
    text-align: center;

}

.header{
    background-color: lightblue;
    height: 100px;
    line-height: 100px;
}

.contenido{
    background-color: lightcoral;
    height: 300px;
    line-height: 300px;
}